@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  line-height: 1.6;
}

:root {
  --bg-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url(assets/icons/buttonbg.png);
}

body {
  font-family: "Sawarabi Mincho", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  position: relative;
}

.glass-container {
  padding: 15px;
  max-width: 100%;
  margin: 0 auto;
}

.content-wrapper {
  padding: 4px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  border: white 2px solid;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* <------------------------ Header ------------------------> */
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 37vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  z-index: 3;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  color: #597c21;
  font-size: 1.3rem;
  background-color: rgba(70, 94, 30, 1);
  border-radius: 12px;
  z-index: 3;
}

.nav__item {
  margin: 0 0.8em;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  padding: 1em;
  display: block;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
  position: relative;
}

.nav__link:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.nav__link:hover:before,
.nav__link:focus:before {
  background-color: #fff;
}

/* Hamburger menu */
.header__hamburger {
  position: fixed;
  top: 25px;
  right: 30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5em;
  height: 1.2em;
  cursor: pointer;
}

.header__hamburger span {
  display: block;
  width: 100%;
  height: 0.2em;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s;
}

.show-menu {
  transform: translateY(0);
}

.show-menu .nav__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* the X for Hamburger Menu */
.header__hamburger.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.header__hamburger.open span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* <------------------------ Main ------------------------> */
.main {
  margin: 0 auto;
  padding: 1em;
}

.hero__title {
  margin-top: 1.5em;
  font-size: 2.5rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-image);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
}

.hero__subtitle {
  font-size: 1.5em;
  font-weight: bold;
  min-height: 2em;
  margin-top: 0.5em;
}

/* <------------------------ About Section ------------------------> */
.about__title,
.projects__title,
.contact__title,
.about__skills-title {
  font-size: 2.5rem;
  margin: 1em 0 1em 0;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-image);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

.about__title::after,
.projects__title::after,
.contact__title::after,
.about__skills-title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: calc(50% + -35px);
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(50%);
}

.about__text,
.skills__item {
  margin-bottom: 1em;
}

/* Widgets */
[class^="widgets__"] {
  width: 104%;
  transform: translateX(-2%);
}

/* Skills */
.about__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about__skills-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 1em;
}

.first-part {
  display: block;
  margin-bottom: 1em;
}

/* Resume DL Links */
.resume-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.resume-download__link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.2em;
  margin: 0.5em;
  font-weight: 600;
  letter-spacing: 1px;
  background-image: var(--bg-image);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.resume-download__link:hover {
  background-color: rgba(68, 68, 68, 0.7);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05),
    0 2px 3px rgba(0, 0, 0, 0.025), inset 0 1px 2px rgba(255, 255, 255, 0.1);
}

/* <------------------------ Projects ------------------------> */
.projects__item {
  list-style: none;
  margin-bottom: 30px;
}

.project-item-container {
  display: inline-block;
  border-radius: 10px;
  padding-bottom: 0.7em;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.projects__item-thumbnail {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5em;
  border-radius: 5px;
  box-shadow: 7px 7px 20px #4c4c4cb0, -7px -7px 20px #3e3e3e;
  animation: slide-in 1s ease-in-out forwards;
}

.projects__item-title {
  font-size: 2rem;
  /* font-weight: 600; */
  margin-bottom: 1em;
  position: relative;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-image);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
}

.projects__item-description {
  font-size: 16px;
  margin: 1em 0 0.5em 0;
  font-style: italic;
}

.projects__item-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.3em 0.5em;
  margin: 1em 0 1.5em 0;
  background-image: var(--bg-image);
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
}

.projects__item-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -35px;
  left: -29%;
  width: 169%;
  height: 4px;
  background-color: #ffffff;
}

.projects__item-link:hover {
}

.icon {
  margin: 0.2em;
  width: 50px;
  height: 50px;
}

/* <------------------------ Footer  ------------------------> */
.footer {
  margin-top: -2em;
  padding: 2em;
  text-align: center;
}

.footer__text {
  margin-bottom: 1em;
  font-size: 1.1em;
  color: #333;
}

.footer__links {
  margin-bottom: 1em;
}

.footer__link {
  padding: 0.5em;
  display: inline-block;
  color: #666;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #333;
}

/* <------------------------ Contacts Section ------------------------> */

/* Contact us Form */
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.footer__contact-form {
  width: 100%;
  margin: 0 auto;
}

.footer__contact-title {
  margin-bottom: 1em;
  font-size: 2.5rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: var(--bg-image);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
}

.footer__label {
  font-size: 1rem;
}

.footer__input,
.footer__textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.footer__submit {
  width: 70%;
  padding: 0.4em;
  background-image: var(--bg-image);
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 1em 0 2em 0;
  transition: background-color 0.3s;
  letter-spacing: 2px;
}

/* <------------------------ Socials  ------------------------> */

.footer__social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.footer__social-link:hover {
  color: #333;
}

/* footer copyright */
.footer__copyright {
  margin-top: 4em;
  font-size: 0.9rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

/* <------------------------ Media Queries  ------------------------> */

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }

  .header__hamburger {
    display: none;
  }
}

.icon {
  width: 50px;
  height: 50px;
}

@media (min-width: 992px) {
  .glass-container {
    padding: 5em;
    max-width: 100%;
  }

  .content-wrapper {
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  /* NavBar */
  .header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav {
    display: flex;
    justify-content: space-around;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50%;
    height: auto;
    margin: 0 auto;
    transform: translateY(0);
    z-index: 1;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    color: #597c21;
    font-size: 1.3rem;
    background-color: transparent;
  }

  /* Main */
  .main {
    margin: 0 auto;
    padding: 1em;
  }

  .hero__title {
    margin-top: 0.5em;
    font-size: 2.5rem;
  }

  .hero__subtitle {
    font-size: 1.5em;
    min-height: 1.5em;
  }

  /* About */
  .about {
    width: 60%;
    margin: 0 auto;
  }

  .about__title,
  .projects__title,
  .contact__title,
  .about__skills-title {
    font-size: 2.5rem;
    margin: 1em 0 1em 0;
  }

  .about__title::after,
  .projects__title::after,
  .contact__title::after,
  .about__skills-title::after {
    left: 25%;
    right: 25%;
    width: 50%;
    height: 2px;
  }

  .about__skills-container {
    width: 40%;
    margin: 0 auto;
  }

  .about__text,
  .skills__item {
    margin-bottom: 1em;
  }

  .about__skills {
    flex-direction: column;
    justify-content: center;
  }

  .about__skills-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 1em;
  }

  .first-part {
    margin-bottom: 1em;
  }

  /* Widgets */
  .widgets__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [class^="widgets__"] {
    width: 100%;
    transform: translateX(0%);
  }

  .widgets__contributions,
  .widgets__stats,
  .widgets__graph {
    display: inline-block;
    height: 10em;
    margin: 1em;
  }

  .widgets__graph {
    height: 18em;
  }

  /* Resume */
  .resume-download {
    margin-top: 2em;
  }

  .resume-download__link {
    padding: 0.2em;
    margin: 0.5em;
    letter-spacing: 1px;
  }

  /* Projects */
  .project-item-container {
    padding-bottom: 6em;
    display: flex;
    justify-content: space-around;
  }

  .project-item-left,
  .project-item-right {
    flex-basis: 48%;
  }

  .project-item-right {
    padding-top: 5em;
    max-width: 40%;
  }

  .projects__item:nth-child(odd) .project-item-container {
    flex-direction: row-reverse;
  }

  .projects__item-thumbnail {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5em;
  }

  .projects__item-title {
    font-size: 2rem;
    margin-bottom: 1em;
  }

  .projects__item-description {
    font-size: 16px;
    margin: 1em 0 0.5em 0;
  }

  .projects__item-link {
    padding: 0.3em 0.5em;
    margin: 1em 0 1.5em 0;
    background-image: var(--bg-image);
    font-weight: 600;
    letter-spacing: 1px;
  }

  .projects__item-link::after {
    bottom: -35px;
    left: -29%;
    width: 169%;
    height: 4px;
  }

  .projects__item-link:hover {
  }

  .icon {
    margin: 0.2em;
    width: 50px;
    height: 50px;
  }

  /* Footer */
  .footer {
    margin-top: -2em;
    padding: 2em;
  }

  .footer__text {
    margin-bottom: 1em;
    font-size: 1.1em;
  }

  .footer__links {
    margin-bottom: 1em;
  }

  .footer__link {
    padding: 0.5em;
  }

  /* Contact */
  .footer__contact {
    margin: 0 auto;
  }

  .footer__contact-form {
    width: 30%;
    margin: 0 auto;
  }

  .footer__contact-title {
    margin-bottom: 1em;
    font-size: 2.5rem;
  }

  .footer__label {
    font-size: 1rem;
  }

  .footer__input,
  .footer__textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .footer__submit {
    width: 70%;
    padding: 0.4em;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1.2rem;
    margin: 1em 0 2em 0;
  }

  /* Socials */
  .footer__social-links {
    width: 50%;
    margin: 0 auto;
  }

  .footer__social-item {
    display: flex;
    flex-direction: column;
  }

  .footer__social-item {
    display: inline-block;
    text-align: center;
  }

  .footer__social-item .icon {
    display: block;
    margin: 0 auto;
  }

  .footer__social-item span {
    display: block;
    margin-top: 0.5em;
  }

  .footer__social-links {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
