/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* <------------------------ Header ------------------------> */
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 37vh;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  z-index: 1;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  display: none;
}

.nav__item {
  margin: 0 1em;
}

.nav__link {
  color: #333;
  text-decoration: none;
  padding: 1em;
  display: block;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
  border-bottom-color: #333;
}

/* Hamburger menu */
.header__hamburger {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5em;
  height: 1.2em;
  cursor: pointer;
}

.header__hamburger span {
  display: block;
  width: 100%;
  height: 0.2em;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s;
}

.show-menu {
  transform: translateY(0);
}

.show-menu .nav__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* the X for Hamburger Menu */
.header__hamburger.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.header__hamburger.open span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* <------------------------ Main ------------------------> */
.main {
  margin: 0 auto;
  padding: 2em;
}

.hero__title {
  font-size: 3rem;
  font-family: "QuirkyRobot", sans-serif;
}

.hero__subtitle {
  font-size: 1.5em;
  margin-bottom: 2em;
  font-weight: bold;
}

/* <------------------------ About Section ------------------------> */
.about__title,
.projects__title,
.contact__title {
  font-size: 2rem;
  margin-bottom: 1em;
}

.about__text,
.skills__item {
  margin-bottom: 1em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__item {
  background-color: #a1a1a1;
  padding: 0.5em;
  margin-bottom: 1em;
}

.first-part {
  display: block;
  margin-bottom: 1em;
}

/* <------------------------ Projects ------------------------> */
.projects__item {
  list-style: none;
  margin-bottom: 30px;
}

.project-item-container {
  display: inline-block;
  border-radius: 10px;
  padding-bottom: 0.7em;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.projects__item-thumbnail {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5em;
  border-radius: 5px;
  box-shadow: 7px 7px 20px #4c4c4cb0, -7px -7px 20px #3e3e3e;
  animation: slide-in 1s ease-in-out forwards;
}

.projects__item-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1em;
  position: relative;
}

.projects__item-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% + 18px);
  width: 70%;
  height: 2px;
  background-color: #333;
  background-position: 0 0;
  background-size: 30px 100%;
  transform: translateY(-50%);
}

.projects__item-title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: calc(50% + 18px);
  width: 70%;
  height: 2px;
  background-color: #333;
  background-position: 100% 0;
  background-size: 30px 100%;
  transform: translateY(50%);
}

.projects__item-description {
  font-size: 16px;
  margin: 1em 0 0.5em 0;
  font-style: italic;
}

.projects__item-link {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.projects__item-link:hover {
  background-color: #444;
}

/* <------------------------ Footer  ------------------------> */
.footer {
  background-color: #f4f4f4;
  padding: 2em;
  text-align: center;
}

.footer__text {
  margin-bottom: 1em;
  font-size: 1.1em;
  color: #333;
}

.footer__links {
  margin-bottom: 1em;
}

.footer__link {
  padding: 0.5em;
  display: inline-block;
  color: #666;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #333;
}

/* <------------------------ Contacts Section ------------------------> */

/* Contact us Form */
.footer__contact {
  position: relative;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.footer__contact-form {
  width: 100%;
  margin: 0 auto;
}

.footer__contact-title {
  margin-bottom: 1em;
  font-size: 1.5em;
}

.footer__label {
  font-size: 1rem;
}

.footer__input,
.footer__textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.footer__submit {
  width: 100%;
  padding: 0.5em;
  background-color: rgb(27, 27, 27);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}

/* <------------------------ Socials  ------------------------> */

.footer__social-links {
  padding: 1em;
  display: inline-block;
  margin: 0 0.5em;
  font-size: 1.1em;
  color: #666;
  transition: color 0.3s;
}

.footer__social-link:hover {
  color: #333;
}

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }

  .header__hamburger {
    display: none;
  }
}

@media (min-width: 992px) {
  /* Desktop styles */
}
